{% extends 'base.html.twig' %}

{% block body %}
    {% if movies|length == 0 %}
        <div class="mt-4 text-center">
            <p>(no movies)</p>
        </div>
    {% else %}
        {% for movie in movies %}
            {% include 'movie.html.twig' %}
        {% endfor %}

        {% if lastPage > 1 %}
            {% include 'pagination.html.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}
