{% extends 'base.html.twig' %}

{% block body %}
    {% for movie in movies %}
        <div class="card bg-dark text-white mt-4">
            <div class="card-header"><b>{{ movie.title }}</b></div>
            <div class="card-body">
                <p class="card-text">{{ movie.description }}</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary text-center">More...</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-footer text-white text-left"><b>Actors:</b> {{ movie.actors }}</div>
                </div>
                <div class="col">
                    <div class="card-footer text-white text-right"><b>Year:</b> {{ movie.year }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
