<nav class="mt-4 mb-4 center">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 1 %}disabled{% endif %}"><a class="page-link" href="{% if search is defined %}{{ '/search?keyword=' ~ search ~ '&' }}{% else %}index.php?{% endif %}page={{ page - 1 }}"><i class="fas fa-angle-double-left"></i></a></li>
        <li class="page-item {% if page == lastPage %}disabled{% endif %}"><a class="page-link" href="{% if search is defined %}{{ '/search?keyword=' ~ search ~ '&' }}{% else %}index.php?{% endif %}page={{ page + 1 }}"><i class="fas fa-angle-double-right"></i></a></li>
    </ul>
</nav>
